@use "@angular/material" as mat;
@import "~@angular/material/theming";
@import "@angular/cdk/overlay-prebuilt.css";
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@include mat-core();
$my-app-primary: mat-palette($mat-pink);
$my-app-accent: mat-palette($mat-blue);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-dark-theme($my-app-primary, $my-app-warn, $my-app-warn);
@include angular-material-theme($my-app-theme);

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #0e77ee;
  }
}

.cdk-overlay-container {
  z-index: 99999 !important;
}

.ngx-charts text {
  fill: #a0aabe;
}

.chart-legend {
  margin-top: 1rem;
}

.chart-legend .legend-labels {
  background: rgba(255, 255, 255, 0.05) !important;
}

.chart-legend .legend-title {
  color: #666;
}

.chart-legend .legend-label:hover,
.chart-legend .legend-label .active .legend-label-text {
  color: #fff !important;
}

.ngx-charts .timeline .brush-background {
  fill: #ffffff0d;
}

app-chart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 80vw;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mat-select-panel-wrap {
  position: relative;
  top: 26px;
  left: 8px;
}

.mat-select-panel-wrap .mat-select-panel {
  min-width: calc(100% + 12px) !important;
  transform: translateX(4px) !important;
}

.date-picker-form {
  .mat-form-field-infix {
    display: flex;
    padding: 0 0 0.25rem;

    input {
      margin-top: -0.25rem;
    }

    mat-datepicker-toggle {
      margin-top: -1rem;
    }
  }
}

mat-slider {
  width: 100%;
  padding: 0px !important;
  height: 38px !important;
  margin-top: -0.75rem;

  .mat-slider-wrapper {
    left: 0px !important;
    right: 0px !important;
  }

  .mat-slider-track-fill,
  .mat-slider-thumb,
  .mat-slider-thumb-label {
    background-color: #0e77ee !important;
  }
}
