<div #containerRef class="graph-container">
    <ngx-charts-line-chart #chartComponent
    [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"
    [scheme]="colorScheme"
    [results]="graphData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [timeline]="true"
    [autoScale]="true"
    [rangeFillOpacity]="0.15"
    [gradient]="true"
    [xAxisTickFormatting]="formatTimeLabels"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)">
</ngx-charts-line-chart>
</div>
