<div class="app-background">
  <div class="header">
    Crypto currency predictor
  </div>
  <div class="main-container">
    <div class="sidebar-container">
      <div class="type-selector">
        <div class="tab" (click)="selectedTab = 'values'" [ngClass]="{ 'selectedTab' : selectedTab === 'values' }">
          Values
        </div>
        <div class="tab" (click)="selectedTab = 'forecasts'"
          [ngClass]="{ 'selectedTab' : selectedTab === 'forecasts' }">
          Forecasts
        </div>
      </div>
      <div class="filters">
        <form [formGroup]="filtersForm" *ngIf="filtersLoaded">
          <mat-form-field appearance="fill" *ngIf="selectedTab === 'values'">
            <mat-label>Cryptos</mat-label>
            <mat-select disableOptionCentering formControlName="selectedCryptos" multiple>
              <mat-option [disabled]="disableCryptoOption(crypto)" *ngFor="let crypto of cryptos"
                [value]="crypto.symbol">{{ crypto.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="selectedTab === 'forecasts'">
            <mat-label>Cryptos</mat-label>
            <mat-select disableOptionCentering formControlName="selectedCrypto">
              <mat-option [disabled]="disableCryptoOption(crypto)" *ngFor="let crypto of cryptos"
                [value]="crypto.symbol">{{ crypto.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Currency</mat-label>
            <mat-select disableOptionCentering formControlName="currency">
              <mat-option *ngFor="let currency of currencies" [value]="currency.value">{{ currency.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="date-picker-form">
            <mat-label>Start date</mat-label>
            <input matInput formControlName="start" [matDatepicker]="start">
            <mat-datepicker-toggle matIconSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" class="date-picker-form">
            <mat-label>End date</mat-label>
            <input matInput formControlName="end" [matDatepicker]="end">
            <mat-datepicker-toggle matIconSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
          </mat-form-field>
          <div *ngIf="selectedTab === 'forecasts'">
            <mat-label>Number of neurons LSTM</mat-label>
            <div class="lstmContainer">
              <div class="lstm">
                <div class="labelInput">
                  <mat-label>LSTM 1: </mat-label>
                  <input matInput (change)="changeFormControl('lstm1', $event)"
                    [value]="filtersForm.controls['lstm1'].value">
                </div>
                <mat-slider min="1" max="128" step="1" formControlName="lstm1">
                  <input matSliderThumb>
                </mat-slider>
              </div>
              <div class="lstm">
                <div class="labelInput">
                  <mat-label>LSTM 2: </mat-label>
                  <input matInput (change)="changeFormControl('lstm2', $event)"
                    [value]="filtersForm.controls['lstm2'].value">
                </div>
                <mat-slider min="1" max="128" step="1" formControlName="lstm2">
                  <input matSliderThumb>
                </mat-slider>
              </div>
            </div>
          </div>
          <div *ngIf="selectedTab === 'forecasts'">
            <div class="labelInput">
              <mat-label>Window size: </mat-label>
              <input matInput (change)="changeFormControl('windowSize', $event)"
                [value]="filtersForm.controls['windowSize'].value">
            </div>
            <mat-slider min="1" max="50" step="1" formControlName="windowSize">
              <input matSliderThumb>
            </mat-slider>
          </div>
          <div *ngIf="selectedTab === 'forecasts'">
            <div class="labelInput">
              <mat-label>Dropout: </mat-label>
              <input matInput (change)="changeFormControl('dropout', $event)"
                [value]="filtersForm.controls['dropout'].value">
            </div>
            <mat-slider min="0" max="1" step="0.1" formControlName="dropout">
              <input matSliderThumb>
            </mat-slider>
          </div>
          <div *ngIf="selectedTab === 'forecasts'">
            <div class="labelInput">
              <mat-label>Epochs: </mat-label>
              <input matInput (change)="changeFormControl('epochs', $event)"
                [value]="filtersForm.controls['epochs'].value">
            </div>
            <mat-slider min="1" max="200" step="1" formControlName="epochs">
              <input matSliderThumb>
            </mat-slider>
          </div>
          <div *ngIf="selectedTab === 'forecasts'">
            <div class="labelInput">
              <mat-label>Batch size: </mat-label>
              <input matInput (change)="changeFormControl('batchSize', $event)"
                [value]="filtersForm.controls['batchSize'].value">
            </div>
            <mat-slider min="1" max="256" step="4" formControlName="batchSize">
              <input matSliderThumb>
            </mat-slider>
          </div>
          <div *ngIf="selectedTab === 'forecasts'">
            <div class="labelInput">
              <mat-label>Validation split: </mat-label>
              <input matInput (change)="changeFormControl('validationSplit', $event)"
                [value]="filtersForm.controls['validationSplit'].value">
            </div>
            <mat-slider min="0" max="1" step="0.1" formControlName="validationSplit">
              <input matSliderThumb>
            </mat-slider>
          </div>
        </form>
        <div class="results" *ngIf="forecastsResult && selectedTab === 'forecasts'">
          <mat-label>Results: </mat-label>
          <div class="preContainer">
            <pre>{{ forecastsResult }}</pre>
          </div>
        </div>
      </div>
      <div (click)="searchCall()" class="filter-button">Search</div>
    </div>
    <div class="data-container">
      <div class="overlay" *ngIf="dataLoading">
        <mat-spinner></mat-spinner>
      </div>
      <div class="graph-over-container">
        <app-chart *ngIf="dataLoaded" [callbackFunction]="getCurrencyData" [realTime]="realTime" [data]="data"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel">
        </app-chart>
      </div>
    </div>
  </div>
</div>