.app-background {
  background-color: #1b1e27;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    background-color: #1f89ff;
    color: white;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  }

  .main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .sidebar-container {
      width: 16rem;
      height: 100%;
      max-height: calc(100vh - 4rem);
      color: #a8b2c7;
      background: #2f3646;
      padding: 1.5rem 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;

      .type-selector {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        width: 100%;
        margin-bottom: 1rem;

        .tab {
          color: #1f89ff;
          border: 1px solid #1f89ff;
          height: 2.2rem;
          width: 100%;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          text-transform: uppercase;
        }

        .tab:hover {
          font-weight: 600;
          border: 2px solid #1f89ff;
        }

        .selectedTab {
          background-color: #1f89ff;
          color: white;
        }

        .selectedTab:hover {
          font-weight: normal;
        }
      }

      .filters {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        flex: 1;

        .lstmContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .lstm {
            width: 48%;

            ::ng-deep mat-slider {
              min-width: unset !important;
            }
          }
        }

        .labelInput {
          display: flex;

          mat-label {
            width: 60%;
          }

          input {
            width: 40%;
          }
        }

        .results {
          margin-top: 1rem;
          width: 100%;

          .preContainer {
            background-color: #1b1e27;
            width: 12rem;
            overflow: auto;
            border-radius: 4px;
            padding: 0.25rem 0.5rem;

            pre {
              margin-top: 0;
            }
          }
        }
      }

      .filter-button {
        background-color: #1f89ff;
        color: white;
        border-radius: 4px;
        width: 100%;
        padding: 0.6rem 2rem;
        margin-top: 1rem;
        text-align: center;
        cursor: pointer;
        text-transform: uppercase;
      }

      .filter-button:hover {
        background-color: #0e77ee;
      }
    }

    .data-container {
      position: relative;
      flex: 1;
      width: calc(100% - 16rem);
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(100vh - 4rem);

      .graph-over-container {
        height: 100%;
        padding: 2rem;
        overflow: auto;
      }
    }
  }
}
